{% extends 'manager/base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>Categories</h2>
        </div>
        <div class="col-sm-4">
            <a href="{% url 'manager:add_transaction' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Transaction
                </button>
            </a>
            <a href="{% url 'manager:add_category' %}">
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Category
                </button>
            </a>
            <a href="{% url 'manager:log_out' %}">
                <button type="button" class="btn btn-danger">
            &nbsp;
                    Logout
                </button>
            </a>
        </div>
        {% if categories %}
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
		            {% for cat in categories %}
		            	<tr>
		            		<td>{{ cat.name }}</td>
		            	</tr>
		            {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}